table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 0 6px 0 rgba(178,178,178,0.5);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CFB3DC;
}
body{
    text-align: center;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
#searchButton{
    margin-left: 10px;
    border: 2px #CFB3DC solid;
    padding: 4px;   
}